
/* 
	
	Just the page style, if you're looking for the player, see zen.css

*/


/* globals */

body {
	margin: 0px
	text-align: center;
	padding:5px;
}



/* player */

#zen {
	margin:0px;
}

#error
{
	display:none;
	cursor:pointer;
	margin:5px 0px 5px 0px;
}

#logo
{
	width:150px;
	height:37px;
	background: url(../images/donate-button-small.png) no-repeat;
	margin:10px auto 0px auto;
	cursor:pointer;
	display:none;
}

#reload
{
	width:14px;
	height:14px;
	position: absolute;
	top:14px;
	left:16px;
	background: #5D5D5D;
	z-index: 999;
	cursor:pointer;
	border-radius: 2px;
	box-shadow: 0px 1px 0px rgba(0,0,0,.1);
}
#reload_back
{
	top:0px;
	left:0px;
	width:50px;
	height:50px;
	z-index: -999;
	position: absolute;
	background: #EDEDED;
	border-radius: 40px;
	opacity: 1;
}
@font-face {
	font-family: "code_bold";
	src: url("font/code_bold.otf");
}
	
body{
	width: 740px;
	font-family: "code_bold";
	font-size: 26px;
	color: white;
	background: black;
}

#choix {
    margin:4px;
   
    float:left;
}

#choix label {
    float:left;
    width:130px;
    background-color:#EFEFEF;
    border-top:1px solid #D0D0D0;
    border-bottom:1px solid #D0D0D0;
    overflow:auto;
}

.gauche{
	border-left:1px solid #D0D0D0;
}

.droite{
	border-right:1px solid #D0D0D0;
}

#choix label span {
    text-align:center;
    font-size: 32px;
    padding:10px 0px;
    display:block;
}

#choix label input {
    position:absolute;
    top:-20px;
}

#choix input:checked + span {
    background-color:#404040;
    color:white;
}

#choix .green {
    background-color:#F22613;
    color:#F22613;
}

#choix .red {
    background-color:#87D37C;
    color:#87D37C;
}

.cadre{
	width: 100%;
}

.position_cadre{
	float: left;
}

.clear{
	clear: both;
}

.titre{
	width: 450px;
	padding: 16px 0 0 10px;
	font-size: 36px;
}

.cadre_switch{
	padding: 0 0 10px 0;
}

.copyright{
	text-align: center;
	font-size: 20px;
}